h1{background-color: aquamarine;
text-align: center;
}

.line{border-bottom: solid cyan 2px;
padding: 5px;
width: 100%;}
h2{color: dodgerblue; }

h3{color: darkturquoise;}

p{font-size: 18px;
font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
width: 55%;}

body{background-color:rgb(240, 255, 251) ;}

.pictores{display: flex;}
.pic{display: inline;
margin: 10px;}

a{text-decoration: none;}
p::first-letter{font-size: 1.5em;}
ul{overflow-y: scroll;
width: 20%;
height: 70px;}

a{text-decoration: none;}
p::first-letter{font-size: 1.5em;}
dl{overflow-y: scroll;
width: 21%;
height: 70px;}
